@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin:0px;
    padding:0px;
    font-family:"sans-sarif";
    background-color: #f2f2f2;
    font-weight:700;
}
button{
    outline: none;
    border:none;
    cursor: pointer;
}

*{  
    
    box-sizing: border-box;
}

a{
    text-decoration:none;
}



.centred{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
.centred p{
    font-size:50px;
    font-weight:900;
    letter-spacing:5px;
    color:rgb(255, 0, 0);
    position:absolute;
    bottom: -150px;
    width:550px;
    margin:auto;

}
.centred span{
    font-size:20px;
    font-weight:700;
    letter-spacing:2px;
    position:relative;
    bottom: -190px;
}



li{
    list-style-type: none;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @-webkit-keyframes skeleton-loading {
    0% {
      background-color: #c2cfd6;
    }
    100% {
      background-color: #dadbdb;
    }
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: #c8d2d8;
    }
    100% {
      background-color: #ecf0f3;
    }
  }




